.DS_Store

application/cache/*
!application/cache/index.html

application/config/constants.php

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
#/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*


/tests/tests/
/tests/results/
captcha/
application/logs/
export/tmp
export/zip
export/extract
uploads/docupload
uploads
/application/config/database.php
/application/config/config.php
/application/config/constants.php
application/config/constants.php
nc_village_data
vendor
.htaccess

esign/tmp
