@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,100);
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

*{margin: 0px;padding: 0px;}




.textImage p{width:380px;color:white;text-align: left;line-height: 26px;font-family: "Roboto Slab", serif;font-size: 17px;font-weight:300;font-style: italic;}
.textImage .first-letter {
  font-size:25px; font-weight: 500;  
}

.panel-lite {
  width: 335px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.75);
  border: 1px solid rgba(209, 213, 219, 0.3);
  padding:22px 17px;
  border-radius: 4px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  
}
.panel-lite h4 {
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: #FF4081;
  margin: 5px auto 22px;
}
.panel-lite a {
  display: inline-block;
  margin-top: 25px;
  text-decoration: none;
  color: #FF4081;
  font-size: 14px;
}

.form-group {
  position: relative;
  font-size: 15px;
  color: #666;
}
.form-group + .form-group {
  margin-top:21px;
}
.form-group .form-label {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 5px;
  transition: 0.3s;
}
.form-group .form-control {
  width: 100%;
  position: relative;
  z-index: 3;
  height: 35px;
  background: none;
  border: none;
  padding: 5px 0;
  transition: 0.3s;
  border-bottom: 1px solid #777;
}
.form-group .form-control:invalid {
  outline: none;
}
.form-group .form-control:focus, .form-group .form-control:valid {
  outline: none;
  color: #274a59;
  font-size: 16px;
  box-shadow: 0 1px #FF4081;
  border-color: #FF4081;
}
.form-group .form-control:focus + .form-label, .form-group .form-control:valid + .form-label {
  font-size: 12px;
  transform: translateY(-15px);
}
.floating-btn i{font-size:28px;}
.floating-btn {
  background: linear-gradient(45deg, #b12dfa, #2196F3);
  width: 100%;
  height:53px;
  color: #fff;
  font-size:22px;
  font-weight: 400;
  border: none;
  transition: 0.3s;
  cursor: pointer;
  margin-top:33px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.3) inset, 0 3px 6px rgba(0, 0, 0, 0.16), 0 4px 10px rgba(0, 0, 0, 0.10);
}

.floating-btn:focus, .floating-btn:active {
  outline: none;
}

.captcha-image img{
  width: 35%;
  height: 40px;
  position: absolute;
  right: 25px;
  top: 0px;
  border-radius: 4px;
}
.lock-icon{margin: 0 auto;width:90px;}
.lock-icon img{width:100%}

.form-group span{
  position: absolute;
  right: 0;
  font-size: 20px;
  top: 10px;
  z-index: 3;
  cursor:default;
}
#captcha_repeat:hover{animation: loading 2s linear infinite;}
@keyframes loading {
  0% { 
    transform: rotate(0); 
  }
  100% { 
    transform: rotate(360deg);
  }
 }
 #loginImg{width:340px;}

 header{
  width: 100%;
  height: 50px;
  background: #363438;
  position: relative;
  font-family: sans-serif;
  color:white;
}

 header div{flex:1 1;height:100%;align-items: center;}
 header .headerBox{display: flex;width:90%;margin:0 auto;}

 header .headerLeft{display: flex;gap:10px;}
 header .headerLeft img{width:30px;}
 header .headerRight{display: flex;gap:10px;justify-content: flex-end;}

 header .headerRight #chithaEntry{
  color: #FFFFFF;
  font-size:26px;
  letter-spacing: 2px;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
}

 footer{
  width: 100%;
  height: 50px;
  background:#363438;
  position: relative;
  color:white;
  font-family: sans-serif;
}
footer .footerBox{
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}
.footerRight {
  display: flex;
  align-items: center;
}
.footerRight a{color:white;text-decoration: none;}
footer .footerRight img{width:40px;margin-left: 10px;}
footer .footerRight .footerLogo img{width:90px;}
footer .footerRight .footerLogo{
  background: #2196F3;
  display: flex;
  margin-left: 10px;
  align-items: center;
  height: 50px;
  justify-content: center;
  width: 100px;
}


 
 @media(max-width: 600px) {
  #loginImg{display: none;}
  .wrapper{flex-direction: column;height: auto;gap:25px;}
  .textImage{margin-top: 30px;}
  .textImage p{margin: 0 auto; width:90%;text-align: justify;}
  header{height: 55px;}
  /* header .headerBox{flex-direction: column;} */
  header .headerLeft{font-size: 12px;}
  header .headerRight #chithaEntry{font-size: 20px;}
  .panel-lite{margin-bottom: 25px; width: 350px;}
  footer{height: auto;font-size: 12px;}
  footer .footerBox{flex-direction: column;padding: 10px;}
  .footerRight{display: block;}
  footer .footerRight .footerLogo{
    height: auto;
    margin-left: 0px;
    position: absolute;
    top: 0;
    right: 0;
    width: fit-content;
    padding: 3px 3px 0px;
  }
  footer .footerRight .footerLogo img{width:60px;margin-left: 0px;}
 }

